* {
    margin: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

:root {
    --c1: #f0f0f0;
    --c2: #ffffff;
    --c3: #3498db;
    --c4: #2980b9;
    --c5: #ffffff;
}

body {
    width: 25rem;
    height: 30rem;
    background-color: var(--c1);
    margin: 10px;
}

.container {
    background-color: var(--c2);
    height: 100%;
}

.topItem {
    display: grid;
    grid-template-rows: 50px 350px auto;
    grid-gap: 20px;
    height: 100%;
}

.Info {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 15px;
    margin: 10px;
}

h1 {
    background-color: var(--c3);
    color: var(--c5);
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--c3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

li {
    margin: 0 10px;
}

li a {
    display: block;
    color: var(--c5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 80px;
    border-radius: 10px;
}

li a:hover {
    background-color: var(--c4);
}

p, h4 {
    text-align: center;
    font-weight: 900;
}

#SetDefault {
    height: fit-content;
    width: fit-content;
}

.buttons {
    flex-direction: column;
    align-items: center;
}

.resetButton {
    margin-top: 10px;
    appearance: none;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--c5);
    margin-bottom: 2rem;
    background-image: linear-gradient(to bottom, var(--c3) 50%, var(--c4) 50%);
    background-size: 200% 200%;
    transition: 0.4s ease-out;
    width: 100%;
}

.resetButton:hover {
    background-position: bottom;
}
.navBar-ExtensionName,
.bodyColor,
.bannerColorPicker,
.hoverColorPicker,
.textColorPcker {
    width: 100%;
    background-color: var(--c1);
    border-radius: 10px;
    appearance: none;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, var(--c4) 50%, var(--c3) 50%);
    background-size: 200% 200%;
    transition: 0.4s ease-out;
    text-align: center;
}

.navBar-ExtensionName:hover,
.bodyColor:hover,
.bannerColorPicker:hover,
.hoverColorPicker:hover,
.textColorPcker:hover {
    background-position: right;
}
